<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Home</title>
    </head>
    <body>
        <h1>The home page <%= 'hello world'.toUpperCase() %> </h1>
        <p>Lores ipsum qwertyui wertyui asdf gh qwe ghj xcvb 567 dfgh tyuvbn xcvb ertyu sdfgh hjkl vbnm </p>
    </body>
</html>